<h1>Listing kids</h1>

<table>
  <tr>
    <th>Products name</th>
    <th>Cycle weight</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kids.each do |kid| %>
  <tr>
    <td><%= kid.products_name %></td>
    <td><%= kid.cycle_weight %></td>
    <td><%= kid.description %></td>
    <td><%= image_tag(kid.image_url, :width=>75, :height=>75) %></td>
    <td><%= kid.price %></td>
    <td><%= link_to 'Show', kid %></td>
    <td><%= link_to 'Edit', edit_kid_path(kid) %></td>
    <td><%= link_to 'Destroy', kid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kid', new_kid_path %>
